.calculate {
    width: 100%;
    margin-top: 12px;
    appearance: none;
    background-color: #8E3A9D;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 66px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    line-height: 20px;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    transition: 200ms;
    display: flex;
    justify-content: center;
}

.calculate:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.calculate:hover {
    background-color: #9c32af;
}

.calculate:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.calculate:disabled {
    background-color: #9c32af;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

