#cross-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 25px 30px;
    margin: 24px 0 24px 0;
    border-radius: 24px;

    .svg {
        width: 90%;
        height: 90%;
        // margin-bottom: 12px;
        // padding: 32px;
        
    }

    circle {
        transition: 150ms;
        stroke-width: 0.1px;
    }

    rect {
        transition: 150ms;
        stroke-width: 0.25px;
    }

    .svgSelect {
        fill: #8E3A9D;
        stroke: #000;

        // &:hover {
        //     fill: #6271C5
        // }

    }

    .svgElementRebar {
        fill: red;
        stroke: #000;

        &:hover {
            fill: #6271C5
        }
    }

    .svgElementRect {
        fill: grey;
        stroke: #000;

        &:hover{
            fill: #6271C5;
        }
    }

    
    .svg-container {
        display: flex;
        border: 1px solid #8E3A9D;
        border-radius: 16px;
        background-color: #fff;
        width: 100%;
        aspect-ratio: 1/1;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: 12px;
    }
    
    #svg-d3 {
        width: 100%;
    }

    h2 {
        color: #8E3A9D;
    }
    
    .title {
        font-size: 26px;
        font-weight: 500;
        position: relative;
        margin-bottom: 6px;
        color: #71C562;
        font-weight: 700;
        

        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 40px;
            background-color: #8E3A9D;
        }
    }

    .sub-container {
        border: 1px solid #71C562;
        width: 100%;
        padding: 20px 20px;
        margin: 12px 0;
        border-radius: 16px;
        background-color: #fff;
        border: 1px solid #8E3A9D;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        z-index: 2;

        .divider {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            min-height: 100%;
            max-height: 300px;

        }


        .input-box {
            padding: 6px 0;
            

            span {
                margin-left: 8px;
                font-size: 14px;
                color: #71C562
            }
            
            input {
                background-color: #fff;
                border-radius: 16px;
                padding: 0 12px;
                border: 1px solid #71C562;
                color: #71C562;
                font-size: 14px;
                width: 100%;
                font-size: 14px;
                transition: 200ms;
            
                &:disabled {
                    background-color: #CFCFCF;
                }
            
                &:focus {
                    border: 1px solid #8E3A9D;
                    outline: 1px solid #8E3A9D;
                }
                
            }

            .valid {
            
                color: #71C562;
            }
            
            .invalid {
                border: 1px solid red;
                color: red;
            }
            
        }

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

        }
        
        .table-class {

            
            overflow-x: hidden;
            overflow-y: scroll;
            // height: 100%;


            td {
                padding: 8px;
                border: 1px solid #cccccc;  
                border-bottom: none;
            }
        }

        .input {
            width: calc(100% / 2 - 12px);
            min-height: 100%;
            justify-content: space-between;
            display: flex;
            
            flex-direction: column;
        }

        .table {
            font-size: 14px;
            width: calc(100% / 2 - 12px);
            justify-content: space-between;
            display: flex;
            

            flex-direction: column;

            
            table {

                border-bottom: 1px solid #ccc;
                font-size: 14px;
                display: block;
                justify-content: space-between;
                width: 100%;
                max-height: 100%;
                text-align: center;
                border-collapse: collapse;
                border-spacing: 0;
                border-radius: 16px;

                

                thead th {
                    position: sticky;
                    top: 0;
                    color: #fff;
                    background-color: #71C562;
                    border: 1px solid #cccccc;
                    overflow-y: auto;   
                    width: 150px;   
                    
                }
                

                td {
                    color: #71C562;
                    width: 150px;

                    
                }
                
                tbody tr {
                    cursor: pointer;
                    transition: 100ms;

                    
                    // &:nth-child(even) {
                    //     background-color: #f5f5f5;

                    // }
                    
                    &:hover {
                        background-color: #6271C5;
                        height: 45px;
                        overflow: hidden;
                        td {
                            color: #fff;
                        }
                    }
                    
                    &:focus-within {
                        background-color: yellow;
                    }


                    
                }            
                .selected {
                    background-color: #8E3A9D;
                    height: 45px;
                    td {
                        color: #fff;
                    }
                }
                
                
            }

            .long {
                border-radius: 16px;
            }

            .short {
                border-radius: 16px 16px 0 0;
            }

        }
        
        .select {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
        }

        select {
            cursor: pointer;
            margin-left: 2px;
            background-color: #fff;
            color: #71C562;
            padding: 0 10px;
            font-size: 16px;
            border-radius: 16px;
            border: 1px solid #71C562;


            
        }
        
        select option{
            color: #71C562;
            padding: 0 10px;

        }
   

        .table-content {
            border: 1px solid #71C562;
            height: 100%;
            width: 100%;
            margin-bottom: 10px;

            border-radius: 16px;
            overflow: hidden;
        }

        .first {
            max-height: 230px;
        }

        .second {
            max-height: 170px;
        }

    

    }


}




