* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #82af7a;
    color: #29292e;
    z-index: 0;
}

body, input, button, textarea {
    font: 400 16px 'Poppins', sans-serif;
}

span {
    margin: 0;
}

input[type=number] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0;
    }
}

.navigation-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // column-gap: 25px;
    // padding: 0 18px
}

// .nav-button {
//     width: 100%;
// }
