.previous {
    width: 100%;
    margin-top: 12px;
    appearance: none;
    background-color: #fff;
    border: 1px solid #8E3A9D;
    border-radius: 66px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #8E3A9D;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
    padding: 12px 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.previous:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.previous:hover {
    background-color: #DCDAD1;
}

.previous:focus:active {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.previous:disabled {
    background-color: #DCDAD1;
    border-color: rgba(27, 31, 35, .1);
    opacity: 0.5;
    color: rgba(87, 83, 83, 0.407);
    border: 2px solid rgba(87, 83, 83, 0.407);
    cursor: default;
}

.previous:active {
    background-color: #fff;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
