#results-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    //TODO: VER
    min-width: 600px;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 25px 30px;
    margin: 24px 0 24px 0;
    border-radius: 24px;

    .svg-results {
        width: 90%;
        height: 90%;
        // margin-bottom: 12px;
        // padding: 32px;
        
    }


    .svg-container {
        display: flex;
        border: 1px solid #8E3A9D;
        border-radius: 16px;
        background-color: #fff;
        width: 100%;
        aspect-ratio: 1/1;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: 12px;


    }

    .calculate-button {
        width: 100%;
        margin-bottom: 12px;
    }

    .forces {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 6px;
        column-gap: 12px;

    }

    .displacements {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 6px;
        column-gap: 12px;
    }

    .max {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 6px;
        column-gap: 12px;

    }

    .min {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 6px;
        column-gap: 12px;
    }

    // .cross-section-results {
    //     display: flex;
    //     flex-wrap: wrap;
    //     flex-direction: row;
    //     align-items: center;
    //     justify-content: space-around;
    //     padding: 6px;
    //     // column-gap: 12px;
    // }
    
    #svg-d3-results {
        width: 100%;
    }

    .sub-container {
        border: 1px solid #71C562;
        width: 100%;
        padding: 20px 20px;
        margin: 12px 0;
        border-radius: 16px;
        background-color: #fff;
        border: 1px solid #8E3A9D;

    }

    h2 {
        color: #8E3A9D;
    }
    
    .title {
        font-size: 26px;
        font-weight: 500;
        position: relative;
        margin-bottom: 6px;
        color: #71C562;
        font-weight: 700;
        

        &::before{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 40px;
            background-color: #8E3A9D;
        }
    }
    

    .subtitle {
        font-size: 22px;
        margin-bottom: -8px; 
        color: #71C562;
        font-weight: 500;


        &:first-child {
            margin-bottom: 0;
        }


    }
}