.svg-results {
    width: 90%;
    height: 90%;
    // margin-bottom: 12px;
    // padding: 32px;
    
}


.svg-container {
    display: flex;
    border: 1px solid #8E3A9D;
    border-radius: 16px;
    background-color: #fff;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 12px;
    aspect-ratio: 1/1;


}

#svg-d3-results {
    width: 100%;
}
