.navbar {
    background-color: #fff;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    h1 {
        position: absolute;
        left: 50%;
        color: #71C562;
        font-weight: 400;
        transform: translate(-50%, 0);
        font-size: 32px;
    }
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #fff;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;

    a {
        color: #71C562;
    }
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 8px;
    list-style: none;
    height: 80px;

    a {
        text-decoration: none;
        color: #71C562;
        font-size: 18px;
        width: 95%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 16px;
        border-radius: 4x;

        &:hover {
            background-color: #6271C5;
        }

        span {
            margin-left: 8px;
        }
    }
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #fff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

